Repository SSWConsulting/SSW.GitHub.Template, pull requests merged in 2023-09, with the labels that each got.

#8 XS✔ ◾ Template-updates
  .github/pull_request_template.md
  .github/workflows/pr-manage-stale.yml
  .github/workflows/pr-metrics.yml
Labels: Age: 🥚 - New

#9 XS✔ ◾ Catch Prs that are 37 hours old too as the workflow runs every 2 hours
  .github/workflows/pr-manage-stale.yml
Labels: Age: 🥚 - New

#10 XS✔ ◾ When a PR comes from a fork we shouldn't add labels
  .github/workflows/pr-manage-stale.yml
Labels: Age: 🥚 - New

#11 XS✔ ◾ Adding a link to the rule that is about to be published
  .github/workflows/pr-manage-stale.yml
  .github/workflows/pr-metrics.yml
Labels: Age: 🦖 - Extinct

#13 XS✔ ◾ Updating workflow to the latest
  .github/workflows/pr-manage-stale.yml
Labels: Age: 🥚 - New

#14 XS✔ ◾ Add a label for merge debt as well to manage when to comment
  .github/workflows/pr-manage-stale.yml
Labels: Age: 🥚 - New

#12 XS✔ ◾ Add DoD to AC
  .github/ISSUE_TEMPLATE/0-feature.md
  .github/ISSUE_TEMPLATE/1-bug.md
  .github/ISSUE_TEMPLATE/2-docs.md
  .github/ISSUE_TEMPLATE/3-refactor.md
  .github/ISSUE_TEMPLATE/4-devops.md
Labels: Age: 🦖 - Extinct, 🔥 Merge Debt

#15 XS✔ ◾ Updating the PR template to match the latest including info for the task triggering the change
  .github/pull_request_template.md
Labels: Age: 🐓 - Old
